* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* regole di debug */

[class*="col-"] {
  min-height: 100px;
  /* background-color: pink;
  border: solid 1px  black; */
  text-align: center;
  padding: 10px;
}

h1, h2, h3, p {
  padding-top: 20px;
}


@media all and (max-width: 768px) {
  img {height: 300px;
  width: auto;}

  p, h3 {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 769px) {
  img {height: 200px;
  width: auto;}
}


 .circle img {
   background-color: #428bca;
   border-radius: 50%;
   padding: 30px
}

div.linea {
  border-bottom: 1px solid black;
}

[class*="col-xs"]
